body,html {
	overflow-x:hidden;
	max-width:1920px;
	margin:0 auto;
	width:100%;
	min-width:1400px;
	background:#fff;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	-khtml-user-select:none;
	-webkit-touch-callout:none;
	user-select:none
}
body,dd,div,dl,dt,h1,h2,h3,h4,h5,h6,html,li,ol,p,strong,td,ul {
	font-family:"Source Han Sans CN"
}
img {
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none
}
a:active {
	opacity:.8
}
.font-h {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis
}
@font-face {
	font-family:pmzd;
	src:url(../images/fonts/pmzd.eot);
	src:url(../images/fonts/pmzd.eot?#iefix) format("embedded-opentype"),url(../images/fonts/pmzd.woff) format("woff"),url(../images/fonts/pmzd.ttf) format("truetype"),url(../images/fonts/pmzd.svg#pmzd) format("svg");
	font-style:normal;
	font-weight:400
}
.font-pmzg {
	font-family:pmzd;
	text-shadow:2px 2px 4px #a8988f
}
img {
	display:block;
	width:100%;
	height:100%
}
.aniBtnHover .ani-btn:hover {
	-webkit-animation:ani4 .2s ease-in-out;
	animation:ani4 .2s ease-in-out;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-ms-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards
}
.aniBtnHover .ani-btn2:hover {
	-webkit-animation:ani5 .5s ease-in-out;
	animation:ani5 .5s ease-in-out;
	transform-origin:50% -100px;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-ms-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards
}
.aniBtnHover .ani-btn2 {
	transition:all 1s
}
.ani-btn:hover {
	-webkit-animation:ani4 .2s ease-in-out;
	animation:ani4 .2s ease-in-out;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-ms-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards
}
.ani-btn2:hover {
	-webkit-animation:ani5 .5s ease-in-out;
	animation:ani5 .5s ease-in-out;
	transform-origin:50% -100px;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-ms-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards
}
.ani-btn2 {
	transition:all 1s
}
.float-l-ani {
	left:20px;
	transition:all 1s
}
.float-nav {
	position:fixed;
	top:40%;
	left:-150px;
	margin-top:-120px;
	z-index:10;
	transition:all .5s
}
.float-nav .nav-label {
	width:auto
}
.float-nav .nav-label li {
	display:block;
	width:100%;
	height:36px;
	padding:15px 0;
	color:#92a7b0;
	line-height:36px;
	text-align:center
}
.float-nav .nav-label li a {
	display:block;
	width:100%;
	color:#92a7b0
}
.float-nav .nav-label li a:hover {
	color:#E9867E
}
.float-nav .nav-label .select a {
	color:#E9867E
}
.float-nav .icon {
	display:block;
	width:141px;
	height:37px;
	margin:0 auto
}
.float-nav .icon a {
	float:left
}
.float-nav .icon .down-btn {
	width:22px;
	height:26px;
	margin-right:16px;
	background:url(../images/pc/icon_img-4552839628.png) 0 0 no-repeat
}
.float-nav .icon .qq-btn {
	width:21px;
	height:26px;
	margin-right:11px;
	background:url(../images/pc/icon_img-4552839628.png) -38px 0 no-repeat
}
.float-nav .icon .wx-btn {
	width:29px;
	height:26px;
	margin-right:13px;
	background:url(../images/pc/icon_img-4552839628.png) -70px 0 no-repeat
}
.float-nav .icon .wb-btn {
	width:27px;
	height:26px;
	background:url(../images/pc/icon_img-4552839628.png) -112px 0 no-repeat
}
.float-nav .icon .down-btn.icon-changes {
	background:url(../images/pc/icon_img-4552839628.png) 0 -26px no-repeat
}
.float-nav .icon .qq-btn.icon-changes {
	background:url(../images/pc/icon_img-4552839628.png) -38px -26px no-repeat
}
.float-nav .icon .wx-btn.icon-changes {
	background:url(../images/pc/icon_img-4552839628.png) -70px -26px no-repeat
}
.float-nav .icon .wb-btn.icon-changes {
	background:url(../images/pc/icon_img-4552839628.png) -112px -26px no-repeat
}
.float-nav .code-bg {
	position:relative;
	width:113px;
	height:132px;
	margin:15px auto 0;
	border:2px solid #EA797B
}
.float-nav .code-bg .code-hiden-box {
	overflow:hidden;
	position:absolute;
	top:12px;
	left:11px;
	display:block;
	width:93px;
	height:120px
}
.float-nav .code-bg .code-hiden-box ul {
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:417px;
	height:120px;
	transition:all .5s
}
.float-nav .code-bg .code-hiden-box ul li {
	float:left;
	width:93px;
	height:93px
}
.float-nav .code-bg .code-hiden-box ul li img {
	display:block;
	width:100%;
	height:100%
}
.float-nav .code-bg .code-hiden-box ul li span {
	display:block;
	width:100%;
	color:#92a7b0;
	font-size:12px;
	line-height:30px;
	text-align:center
}
.float-nav .code-bg .code-box-1 ul {
	left:0
}
.float-nav .code-bg .code-box-2 ul {
	left:-93px
}
.float-nav .code-bg .code-box-3 ul {
	left:-186px
}
.float-nav .code-bg .code-box-4 ul {
	left:-279px
}
.float-nav .code-bg:after {
	position:absolute;
	top:10px;
	left:11px;
	width:93px;
	height:3px;
	border-radius:10px;
	background:#E87A7C;
	-webkit-animation:codeSaomiao 3s ease-in-out infinite;
	animation:codeSaomiao 3s ease-in-out infinite;
	content:''
}
.float-nav-ani {
	left:30px;
	transition:all .5s
}
.social-share .social-share-icon {
	color:#8fa3ac;
	margin:0 30px 0 0;
	border:1px solid #8fa3ac
}
.social-share .social-share-icon:hover {
	border:1px solid #49ded7;
	background:#49ded7
}
.select {
	right:-243px
}
.select .changes-btn .on {
	display:none;
	left:-78px
}
.select .changes-btn .off {
	display:block;
	left:0
}
.index {
	display:block;
	width:100%;
	height:100vh;
	opacity:0
}
.index .swiper-container {
	width:100%;
	height:100%;
	margin-left:auto;
	margin-right:auto
}
.index .swiper-container .swiper-slide {
	position:relative;
	overflow:hidden
}
.index .swiper-container .swiper-slide #myCanvas {
	position:absolute;
	top:0;
	width:auto;
	height:auto;
	z-index:1
}
.index .swiper-container .swiper-slide .float-share {
	position:absolute;
	top:40px;
	right:60px;
	z-index:2
}
.index .content-01 {
	overflow:hidden;
	position:relative;
	width:100%;
	height:100%
}
.index .content-01 .logo {
	position:absolute;
	top:28px;
	left:30px;
	width:269px;
	height:81px;
	z-index:4
}
.index .content-01 .title {
	position:absolute;
	top:130px;
	left:50%;
	width:964px;
	height:156px;
	margin-left:-482px;
	z-index:1
}
.index .content-01 .title .video-btn {
	position:absolute;
	bottom:-35px;
	right:-110px;
	width:167px;
	height:186px;
	background:url(../images/pc/video_btn-c0b2667741.png) no-repeat;
	-webkit-animation:videoAni 1s steps(7) infinite;
	animation:videoAni 1s steps(7) infinite;
	transition:all .5s
}
.index .content-01 .title .video-btn:hover {
	transform:translateY(-5px);
	filter:brightness(1.25)
}
.index .content-01 .bg {
	position:absolute;
	top:50%;
	left:50%;
	width:1920px;
	height:1080px;
	margin:-540px 0 0 -960px;
	z-index:0
}
.index .content-01 .arrow-bottom {
	position:absolute;
	bottom:20px;
	left:50%;
	width:80px;
	height:43px;
	margin-left:-40px;
	-webkit-animation:Beat2 1.5s infinite linear;
	animation:Beat2 1.5s infinite linear
}
.index .content-01 .arrow-bottom i {
	display:block;
	width:100%;
	height:100%;
	background:url(../images/pc/arrow_b-59f2fd502a.png) no-repeat
}
.index .content-02 {
	position:relative;
	width:100%;
	height:100%;
	background:url(../images/news_bg.jpg) center center/cover no-repeat
}
.index .content-02 .title {
	position:absolute;
	top:105px;
	left:50%;
	width:261px;
	height:108px;
	margin-left:-189px;
	background:url(../images/title_news.png) 0 0 no-repeat
}
.index .content-02 .news-module {
	overflow:hidden;
	position:absolute;
	top:292px;
	left:50%;
	width:1330px;
	height:530px;
	margin-left:-665px;
	transition:all .5s
}
.index .content-02 .news-module .swiper-l {
	overflow:hidden;
	float:left;
	width:615px;
	height:485px
}
.index .content-02 .news-module .swiper-l a {
	display:block;
	position:relative
}
.index .content-02 .news-module .swiper-l .b-info h1 {
	overflow:hidden;
	height:32px;
	color:#b1cbd5;
	line-height:26px;
	font-size:20px
}
.index .content-02 .news-module .swiper-l .b-info p {
	overflow:hidden;
	height:68px;
	padding:0 0 10px;
	color:#64767e;
	line-height:30px;
	font-size:14px
}
.index .content-02 .news-module .swiper-l .b-info span {
	display:block;
	width:100%;
	margin:30px 0 10px;
	color:#b1cbd5;
	font-size:12px;
	text-align:left
}
.index .content-02 .news-module .swiper-l .swiper-pagination-bullet {
	width:16px;
	height:16px;
	background:#b1cbd5;
	opacity:1
}
.index .content-02 .news-module .swiper-l .swiper-pagination-bullet-active {
	width:52px;
	height:16px;
	border-radius:10px;
	background:#5aaaae
}
.index .content-02 .news-module .swiper-l .swiper-pagination {
	top:285px;
	left:20px;
	text-align:left
}
.index .content-02 .news-module .swiper-l .t-img {
	overflow:hidden;
	width:608px;
	height:320px;
	transition:all .25s
}
.index .content-02 .news-module .swiper-l .t-img img {
	width:100%;
	height:100%;
	transition:all .25s
}
.index .content-02 .news-module .swiper-l .b-info {
	position:absolute;
	top:330px
}
.index .content-02 .news-module .swiper-l:hover .t-img {
	border:1px solid #52dcd7;
	box-shadow:1px 1px 2px #52dcd7
}
.index .content-02 .news-module .swiper-l:hover .t-img img {
	transform:scale(1.05)
}
.index .content-02 .news-module .swiper-l:hover .b-info h1 {
	color:#52dcd7
}
.index .content-02 .news-module .swiper-r {
	overflow:hidden;
	position:relative;
	float:right;
	width:672px;
	height:510px
}
.index .content-02 .news-module .swiper-r .label-box {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:70px;
	border-bottom:1px solid #4D2E38;
	line-height:70px;
	z-index:2
}
.index .content-02 .news-module .swiper-r .label-box a {
	float:left;
	margin-right:58px;
	color:#999897;
	font-size:34px
}
.index .content-02 .news-module .swiper-r .label-box .select {
	color:#FFEFC8
}
.index .content-02 .news-module .swiper-r .label-box .more-btn {
	position:absolute;
	top:25px;
	right:5px;
	display:block;
	width:66px;
	height:21px;
	margin-right:0;
	font-size:14px;
	line-height:40px;
}
.index .content-02 .news-module .swiper-r .swiper-wrapper {
	width:755px;
	padding-top:70px
}
.index .content-02 .news-module .swiper-r .swiper-wrapper ul {
	overflow:auto;
	width:660px;
	height:395px;
	padding-top:40px;
	padding-right:10px
}
.index .content-02 .news-module .swiper-r .swiper-wrapper ul::-webkit-scrollbar {
	width:10px
}
.index .content-02 .news-module .swiper-r .swiper-wrapper ul::-webkit-scrollbar-track {
	height:10px;
	background-color:#182127
}
.index .content-02 .news-module .swiper-r .swiper-wrapper ul::-webkit-scrollbar-thumb {
	width:10px;
	border-radius:10px;
	background-color:#EA797B
}
.index .content-02 .news-module .swiper-r .swiper-wrapper li {
	float:left;
	width:100%;
	transition:all .25s
}
.index .content-02 .news-module .swiper-r .swiper-wrapper li a {
	display:block
}
.index .content-02 .news-module .swiper-r .swiper-wrapper li a:after {
	content:"\200B";
	display:block;
	height:0;
	clear:both
}
.index .content-02 .news-module .swiper-r .swiper-wrapper li .l-img {
	overflow:hidden;
	float:left;
	width:258px;
	height:127px;
	margin-left:5px
}
.index .content-02 .news-module .swiper-r .swiper-wrapper li .l-img img {
	width:100%;
	height:100%;
	transition:all .5s
}
.index .content-02 .news-module .swiper-r .swiper-wrapper li .r-info {
	float:right;
	width:355px;
	height:170px
}
.index .content-02 .news-module .swiper-r .swiper-wrapper li span {
	display:block;
	width:100%;
	color:#b1cbd5;
	font-size:12px;
	text-align:right
}
.index .content-02 .news-module .swiper-r .swiper-wrapper li h1 {
	padding:0;
	color:#b1cbd5;
	line-height:26px;
	font-size:20px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	transition:all .5s
}
.index .content-02 .news-module .swiper-r .swiper-wrapper li p {
	overflow:hidden;
	height:68px;
	padding:10px 0 0;
	color:#64767e;
	line-height:30px;
	font-size:14px
}
.index .content-02 .news-module .swiper-r .swiper-wrapper li:hover {
	transform:translateX(5px)
}
.index .content-02 .news-module .swiper-r .swiper-wrapper li:hover .l-img img {
	transform:scale(1.05)
}
.index .content-02 .news-module .swiper-r .swiper-wrapper li:hover .l-img img {
	box-shadow:0 0 1px 1px #52dcd7
}
.index .content-02 .news-module .swiper-r .swiper-wrapper li:hover h1 {
	color:#52dcd7
}
.index .content-03 {
	overflow:hidden;
	position:relative;
	width:100%;
	height:100%;
	background:url(../images/ts_bg.jpg) center center/cover no-repeat
}
.index .content-03 .title {
	position:absolute;
	top:105px;
	left:50%;
	width:296px;
	height:106px;
	margin-left:-186px;
	background:url(../images/title_features.png) no-repeat
}
.index .content-03 .rotate-label-box .char-swiper {
	position:relative;
	left:50%;
	top:70px;
	margin-left:-692px;
	height:100%;
	pointer-events:none;
	z-index:3;
	transition:all .5s
}
.index .content-03 .rotate-label-box .char-swiper .swiper-slide {
	display:-moz-flex;
	display:-o-flex;
	display:-ms-flex;
	display:flex;
	-moz-align-items:center;
	-ms-align-items:center;
	align-items:center;
	-moz-justify-content:flex-start;
	-ms-justify-content:flex-start;
	justify-content:flex-start
}
.index .content-03 .rotate-label-box .char-swiper .swiper-slide .person {
	position:relative;
	pointer-events:none
}
.index .content-03 .rotate-label-box .char-swiper .swiper-slide .person:after {
	position:absolute;
	content:''
}
.index .content-03 .rotate-label-box .char-swiper .char1 .person {
	width:1384px;
	height:801px;
	background:url(../images/pc/role/char1_img-2e24ea3c09.png) center/cover no-repeat
}
.index .content-03 .rotate-label-box .char-swiper .char2 .person {
	width:1384px;
	height:801px;
	background:url(../images/pc/role/char2_img-a71843e68c.png) center/cover no-repeat
}
.index .content-03 .rotate-label-box .char-swiper .char3 .person {
	width:1384px;
	height:801px;
	background:url(../images/pc/role/char3_img-0e52384bfd.png) center/cover no-repeat
}
.index .content-03 .rotate-label-box .char-swiper .char4 .person {
	width:1384px;
	height:801px;
	background:url(../images/pc/role/char4_img-0f70eb89ab.png) center/cover no-repeat
}
.index .content-03 .rotate-label-box .char-swiper .char5 .person {
	width:1384px;
	height:801px;
	background:url(../images/pc/role/char5_img-cd6452cc18.png) center/cover no-repeat
}
.index .content-03 .rotate-label-box .char-swiper .char1 .person:after {
	top:200px;
	right:170px;
	width:350px;
	height:539px;
	background:url(../images/pc/role/char4_img_1-2e9b5d5626.png) no-repeat;
	-webkit-animation:charAni1 1.5s steps(10) infinite;
	animation:charAni1 1.5s steps(10) infinite
}
.index .content-03 .rotate-label-box .char-swiper .char2 .person:after {
	top:240px;
	right:135px;
	width:420px;
	height:511px;
	background:url(../images/pc/role/char1_img_1-ac1726292d.png) no-repeat;
	-webkit-animation:charAni2 1.5s steps(10) infinite;
	animation:charAni2 1.5s steps(10) infinite
}
.index .content-03 .rotate-label-box .char-swiper .char3 .person:after {
	top:355px;
	right:158px;
	width:380px;
	height:416px;
	background:url(../images/pc/role/char2_img_1-347fb19565.png) no-repeat;
	-webkit-animation:charAni3 1.5s steps(10) infinite;
	animation:charAni3 1.5s steps(10) infinite
}
.index .content-03 .rotate-label-box .char-swiper .char4 .person:after {
	top:276px;
	right:187px;
	width:350px;
	height:482px;
	background:url(../images/pc/role/char3_img_1-7e23b4d693.png) no-repeat;
	-webkit-animation:charAni4 1.5s steps(10) infinite;
	animation:charAni4 1.5s steps(10) infinite
}
.index .content-03 .rotate-label-box .char-swiper .char5 .person:after {
	top:210px;
	right:142px;
	width:500px;
	height:545px;
	background:url(../images/pc/role/char5_img_1-fd73cc5cd0.png) no-repeat;
	-webkit-animation:charAni5 1.5s steps(12) infinite;
	animation:charAni5 1.5s steps(12) infinite
}
@-webkit-keyframes charAni1 {
	from {
	background-position:0 0
}
to {
	background-position:-3500px 0
}
}@keyframes charAni1 {
	from {
	background-position:0 0
}
to {
	background-position:-3500px 0
}
}@-webkit-keyframes charAni2 {
	from {
	background-position:0 0
}
to {
	background-position:-4200px 0
}
}@keyframes charAni2 {
	from {
	background-position:0 0
}
to {
	background-position:-4200px 0
}
}@-webkit-keyframes charAni3 {
	from {
	background-position:0 0
}
to {
	background-position:-3800px 0
}
}@keyframes charAni3 {
	from {
	background-position:0 0
}
to {
	background-position:-3800px 0
}
}@-webkit-keyframes charAni4 {
	from {
	background-position:0 0
}
to {
	background-position:-3500px 0
}
}@keyframes charAni4 {
	from {
	background-position:0 0
}
to {
	background-position:-3500px 0
}
}@-webkit-keyframes charAni5 {
	from {
	background-position:0 0
}
to {
	background-position:-6000px 0
}
}@keyframes charAni5 {
	from {
	background-position:0 0
}
to {
	background-position:-6000px 0
}
}.index .content-03 .rotate-label-box .disk {
	width:1496px;
	height:1002px;
	position:absolute;
	right:0;
	top:50%;
	transform:translate(0,-50%) rotateY(180deg);
	z-index:4
}
.index .content-03 .rotate-label-box .disk .char-pagi-container {
	width:1200px;
	height:1200px;
	position:absolute;
	top:50%;
	margin-top:-600px;
	right:180px;
	border-radius:50%;
	transition:transform .4s ease-in-out;
	transition:all .5s;
	transform:scale(.8)
}
.index .content-03 .rotate-label-box .disk .char-pagi-container .char-pagi {
	width:183px;
	height:183px;
	display:-moz-flex;
	display:-o-flex;
	display:-ms-flex;
	display:flex;
	-moz-align-items:center;
	-ms-align-items:center;
	align-items:center;
	-moz-justify-content:center;
	-ms-justify-content:center;
	justify-content:center;
	position:absolute;
	border-radius:50%;
	opacity:0;
	cursor:pointer;
	transition:transform .4s ease-in-out,opacity .4s ease-in-out;
	z-index:2
}
.index .content-03 .rotate-label-box .disk .char-pagi-container .char-pagi .pic {
	transform:rotateY(180deg);
	transition:all .25s
}
.index .content-03 .rotate-label-box .disk .char-pagi-container .char-pagi .pic:hover {
	transform:rotateY(180deg) scale(1.1)
}
.index .content-03 .rotate-label-box .disk .char-pagi-container .char-pagi.out {
	opacity:0
}
.index .content-03 .rotate-label-box .disk .char-pagi-container .char-pagi.in {
	opacity:1
}
.index .content-03 .rotate-label-box .disk .char-pagi-container .char-pagi.active.active::after {
	content:'';
	width:100px;
	height:98px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-54px;
	margin-left:-50px;
	border-radius:50%;
	-webkit-animation:charOutline 2s infinite ease-in-out;
	animation:charOutline 2s infinite ease-in-out;
	z-index:-1
}
.index .content-03 .rotate-label-box .disk .char-pagi-container .char-pagi.fan .pic {
	width:117px;
	height:117px;
	background:url(../images/pc/role/pic_01-a78df4c918.png) center/100% 100% no-repeat;
	position:relative;
	z-index:2
}
.index .content-03 .rotate-label-box .disk .char-pagi-container .char-pagi.wsd .pic {
	width:117px;
	height:117px;
	background:url(../images/pc/role/pic_02-00d2b57028.png) center/100% 100% no-repeat
}
.index .content-03 .rotate-label-box .disk .char-pagi-container .char-pagi.sxn .pic {
	width:117px;
	height:117px;
	background:url(../images/pc/role/pic_03-4c01aeb189.png) center/100% 100% no-repeat
}
.index .content-03 .rotate-label-box .disk .char-pagi-container .char-pagi.bl .pic {
	width:117px;
	height:117px;
	background:url(../images/pc/role/pic_04-adc1bb6533.png) center/100% 100% no-repeat
}
.index .content-03 .rotate-label-box .disk .char-pagi-container .char-pagi.ky .pic {
	width:117px;
	height:117px;
	background:url(../images/pc/role/pic_05-08f362a90b.png) center/100% 100% no-repeat
}
.index .content-03 .rotate-label-box .disk .char-pagi-container .char-pagi.fan.active .pic {
	background:url(../images/pc/role/pic_01_active-6b6eed4ad2.png) center/100% 100% no-repeat
}
.index .content-03 .rotate-label-box .disk .char-pagi-container .char-pagi.wsd.active .pic {
	background:url(../images/pc/role/pic_02_active-ad6ce6d8de.png) center/100% 100% no-repeat
}
.index .content-03 .rotate-label-box .disk .char-pagi-container .char-pagi.sxn.active .pic {
	background:url(../images/pc/role/pic_03_active-6621cc5120.png) center/100% 100% no-repeat
}
.index .content-03 .rotate-label-box .disk .char-pagi-container .char-pagi.bl.active .pic {
	background:url(../images/pc/role/pic_04_active-8ac51dfa30.png) center/100% 100% no-repeat
}
.index .content-03 .rotate-label-box .disk .char-pagi-container .char-pagi.ky.active .pic {
	background:url(../images/pc/role/pic_05_active-ddb2fe372c.png) center/100% 100% no-repeat
}
.index .content-03 .rotate-label-box .disk .link-wiki {
	position:absolute;
	bottom:85px;
	left:336px;
	width:117px;
	height:117px;
	background:url(../images/pc/role/pic_06-e4d67f99db.png);
	-ms-background-size:100% 100%;
	background-size:100% 100%;
	transition:all .5s
}
.index .content-03 .rotate-label-box .disk .link-wiki a {
	display:block;
	width:100%;
	height:117px
}
.index .content-03 .rotate-label-box .disk .link-wiki:hover {
	transform:scale(1.1)
}
.index .content-03 .rotate-label-box .disk:after {
	position:absolute;
	top:33px;
	left:235px;
	width:296px;
	height:930px;
	background:url(../images/pc/line_bg-7a6c8c213e.png) no-repeat;
	-ms-background-size:100% 100%;
	background-size:100% 100%;
	content:'';
	z-index:-1;
	transition:all .5s
}
@-webkit-keyframes charOutline {
	0%,100% {
	box-shadow:0 0 #f0eed8
}
50% {
	box-shadow:0 0 40px 2px #f0eed8
}
}@keyframes charOutline {
	0%,100% {
	box-shadow:0 0 #f0eed8
}
50% {
	box-shadow:0 0 40px 2px #f0eed8
}
}.index .content-04 {
	position:relative;
	width:100%;
	height:100%;
	background:url(../images/gl_bg.jpg) center center/cover no-repeat
}
.index .content-04 .title {
	position:absolute;
	top:80px;
	left:50%;
	width:311px;
	height:121px;
	margin-left:-202px;
	background:url(../images/title_strategy.png) no-repeat
}
.index .content-04 .recommend-wrap {
	position:absolute;
	top:50%;
	left:50%;
	width:1265px;
	height:580px;
	margin:-160px 0 0 -632px
}
.index .content-04 .recommend-box {
	overflow:hidden;
	width:100%;
	height:225px;
	margin:0 auto;
	z-index:2
}
.index .content-04 .recommend-box ul {
	width:1314px
}
.index .content-04 .recommend-box li {
	overflow:hidden;
	position:relative;
	float:left;
	width:387px;
	height:225px;
	margin-right:50px
}
.index .content-04 .recommend-box li dt {
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:100%;
	height:100%
}
.index .content-04 .recommend-box li dt img {
	transition:all .25s
}
.index .content-04 .recommend-box li dd {
	position:absolute;
	right:0;
	bottom:-40px;
	padding-right:5%;
	width:95%;
	height:40px;
	background:rgba(0,0,0,.5);
	color:#b1cbd5;
	font-size:14px;
	text-align:right;
	line-height:40px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	transition:all .25s
}
.index .content-04 .recommend-box li:hover dt img {
	transform:scale(1.1)
}
.index .content-04 .recommend-box li:hover dd {
	bottom:0
}
.index .content-04 .swiper-r {
	overflow:hidden;
	position:relative;
	top:0;
	width:100%;
	margin:0 auto
}
.index .content-04 .swiper-r .label-box {
	width:100%;
	height:56px;
	margin-top:1rem;
	border-bottom:1px solid #3B2A21;
	z-index:2
}
.index .content-04 .swiper-r .label-box a {
	position:relative;
	float:left;
	margin-right:96px;
	color:#FFEFC8;
	line-height:56px;
	font-size:24px
}
.index .content-04 .swiper-r .label-box .select {
	color:#FFEFC8;
	right:auto
}
.index .content-04 .swiper-r .label-box .select:after {
	position:absolute;
	bottom:-1px;
	left:0;
	width:100%;
	height:2px;
	border-radius:10px;
	content:''
}
.index .content-04 .swiper-r .label-box .more-btn {
	position:absolute;
	top:35px;
	right:20px;
	display:block;
	width:66px;
	height:21px;
	margin-right:0;
	font-size:14px;
	line-height:40px;
	color:#999897;
}
.index .content-04 .swiper-r .swiper-wrapper {
	width:100%;
	height:100%;
	padding-top:2.5rem
}
.index .content-04 .swiper-r .swiper-wrapper ul {
	width:98%;
	height:250px
}
.index .content-04 .swiper-r .swiper-wrapper .info-ul-l {
	float:left;
	width:600px
}
.index .content-04 .swiper-r .swiper-wrapper .info-ul-l li {
	float:left;
	width:100%;
	margin-bottom:28px;
	transition:all .25s
}
.index .content-04 .swiper-r .swiper-wrapper .info-ul-l li a {
	display:block
}
.index .content-04 .swiper-r .swiper-wrapper .info-ul-l li a:after {
	content:"\200B";
	display:block;
	height:0;
	clear:both
}
.index .content-04 .swiper-r .swiper-wrapper .info-ul-l li .l-img {
	overflow:hidden;
	float:left;
	width:173px;
	height:100px;
	margin-left:5px
}
.index .content-04 .swiper-r .swiper-wrapper .info-ul-l li .l-img img {
	width:100%;
	height:100%;
	transition:all .5s
}
.index .content-04 .swiper-r .swiper-wrapper .info-ul-l li .r-info {
	float:right;
	width:380px;
	height:100px
}
.index .content-04 .swiper-r .swiper-wrapper .info-ul-l li span {
	display:block;
	width:100%;
	color:#b1cbd5;
	font-size:20px;
	text-align:right
}
.index .content-04 .swiper-r .swiper-wrapper .info-ul-l li h1 {
	overflow:hidden;
	height:80px;
	padding:18px 0 0 0;
	color:#877174;
	line-height:26px;
	font-size:16px;
	transition:all .5s
}
.index .content-04 .swiper-r .swiper-wrapper .info-ul-l li p {
	overflow:hidden;
	height:68px;
	padding:10px 0 0;
	color:#64767e;
	line-height:30px;
	font-size:14px
}
.index .content-04 .swiper-r .swiper-wrapper .info-ul-l li:hover {
	transform:translateX(8px)
}
.index .content-04 .swiper-r .swiper-wrapper .info-ul-l li:hover .l-img img {
	transform:scale(1.1)
}
.index .content-04 .swiper-r .swiper-wrapper .info-ul-l li:hover h1 {
	color:#FFEFC8
}
.index .content-04 .swiper-r .swiper-wrapper .info-ul-r {
	float:right;
	width:610px;
	padding-right:20px;
	overflow:auto
}
.index .content-04 .swiper-r .swiper-wrapper .info-ul-r li {
	display:block;
	width:100%;
	height:33px;
	margin-top:16px;
	line-height:33px;
	transition:all .5s
}
.index .content-04 .swiper-r .swiper-wrapper .info-ul-r li a {
	display:block;
	width:100%;
	height:33px;
	color:#877174;
	font-size:14px
}
.index .content-04 .swiper-r .swiper-wrapper .info-ul-r li span {
	color:#877174;
	float:right
}
.index .content-04 .swiper-r .swiper-wrapper .info-ul-r li p {
	float:left;
	color:#877174;
}
.index .content-04 .swiper-r .swiper-wrapper .info-ul-r li:hover {
	transform:translateX(8px)
}
.index .content-04 .swiper-r .swiper-wrapper .info-ul-r li:hover p {
	color:#FFEFC8
}
.index .content-04 .swiper-r .swiper-wrapper ul::-webkit-scrollbar {
	width:.25rem
}
.index .content-04 .swiper-r .swiper-wrapper ul::-webkit-scrollbar-track {
	height:.25rem;
	background-color:#182127
}
.index .content-04 .swiper-r .swiper-wrapper ul::-webkit-scrollbar-thumb {
	width:.25rem;
	border-radius:.25rem;
	background-color:#49ded7
}
.index .content-05 {
	position:relative;
	width:100%;
	height:100%;
	background:url(../images/pc/content_bg_05-79463e9827.jpg) bottom center no-repeat
}
.index .content-05 .title {
	position:absolute;
	top:94px;
	left:50%;
	width:560px;
	height:171px;
	margin-left:-280px;
	background:url(../images/pc/title_all-13c030835d.png) 0 -400px no-repeat
}
.index .content-05 .code-main {
	overflow:hidden;
	width:1478px;
	height:350px;
	padding-top:340px;
	margin:0 auto
}
.index .content-05 .code-main ul {
	overflow:hidden;
	display:block;
	width:1628px;
	height:240px;
	padding-top:10px
}
.index .content-05 .code-main ul li {
	float:left;
	display:block;
	width:259px;
	height:230px;
	margin-right:148px;
	cursor:pointer;
	transition:all .5s
}
.index .content-05 .code-main ul li dt {
	float:left;
	width:63px;
	height:150px;
	transition:all .5s
}
.index .content-05 .code-main ul li dd:after {
	position:absolute;
	top:10px;
	right:10px;
	width:165px;
	height:3px;
	border-radius:10px;
	background:#99f9ca;
	-webkit-animation:codeSaomiao2 3s ease-in-out infinite;
	animation:codeSaomiao2 3s ease-in-out infinite;
	content:'';
	opacity:0
}
.index .content-05 .code-main ul li dd {
	position:relative;
	float:right;
	width:185px;
	height:230px
}
.index .content-05 .code-main ul li dd img {
	display:block;
	width:185px;
	height:185px;
	transition:all .25s
}
.index .content-05 .code-main ul li dd p {
	position:relative;
	padding-top:25px;
	color:#798b93;
	font-size:18px;
	-moz-user-select:text;
	-webkit-user-select:text;
	-ms-user-select:text;
	-khtml-user-select:text;
	-webkit-touch-callout:text;
	user-select:text
}
.index .content-05 .code-main ul li dd p span {
	color:#9eced5
}
.index .content-05 .code-main ul li dd p:after {
	position:absolute;
	top:0;
	left:0;
	width:0;
	height:8px;
	content:'';
	transition:all .5s
}
.index .content-05 .code-main ul .gf-qq dt {
	background:url(../images/pc/vertical_text_all-cc946763f4.png) 0 0 no-repeat
}
.index .content-05 .code-main ul .gf-qq dd p:after {
	background:#ed5670
}
.index .content-05 .code-main ul .gf-wb dt {
	background:url(../images/pc/vertical_text_all-cc946763f4.png) 0 -150px no-repeat
}
.index .content-05 .code-main ul .gf-wb dd p:after {
	background:#b7ad39
}
.index .content-05 .code-main ul .gf-wx dt {
	background:url(../images/pc/vertical_text_all-cc946763f4.png) 0 -300px no-repeat
}
.index .content-05 .code-main ul .gf-wx dd p:after {
	background:#56a16e
}
.index .content-05 .code-main ul .gf-kf dt {
	background:url(../images/pc/vertical_text_all-cc946763f4.png) 0 -450px no-repeat
}
.index .content-05 .code-main ul .gf-kf dd p:after {
	background:#dc2dff
}
.index .content-05 .code-main ul li:hover {
	transform:translateY(-5px)
}
.index .content-05 .code-main ul li:hover dd {
	-webkit-filter:saturate(2)
}
.index .content-05 .code-main ul li:hover dd img {
	border-top-left-radius:10px;
	border-top-right-radius:10px
}
.index .content-05 .code-main ul li:hover dd:after {
	opacity:1
}
.index .content-05 .code-main ul li:hover dd p:after {
	width:100%
}
.index .content-05 .code-main ul li:hover dt {
	margin-top:22px
}
.index .content-05 .code-main .share-box {
	display:flex;
	justify-content:center;
	padding-top:50px;
	font-size:26px;
	color:#8fa3ac;
	line-height:58px
}
.index .content-05 .code-main .share-box .social-share .social-share-icon {
	width:32px;
	height:32px;
	margin:0 30px 0 0;
	color:#8fa3ac;
	border:1px solid #8fa3ac
}
.index .content-05 .code-main .share-box .social-share .social-share-icon:hover {
	border:1px solid #49ded7;
	background:#49ded7
}
.index .content-06 {
	height:auto;
}
.news {
	display:block;
	width:100%;
	min-height:800px;
	background:url(../images/pc/news_bg-3e746b3dcf.jpg);
	opacity:0
}
.news .float-share {
	position:fixed;
	top:30px;
	right:40px;
	z-index:2
}
.news .top-header {
	width:1400px;
	height:117px;
	margin:0 auto;
	padding-top:150px;
	border-bottom:1px solid #b1cbd5
}
.news .top-header h1 {
	float:left;
	color:#49ded7;
	font-weight:700;
	line-height:115px;
	font-size:50px
}
.news .top-header h2 {
	float:left;
	color:#49ded7;
	line-height:115px;
	font-size:40px
}
.news .top-header h2 a {
	position:relative;
	padding-left:80px;
	color:#49ded7
}
.news .top-header h2 a:after {
	position:absolute;
	top:0;
	left:10px;
	width:52px;
	height:64px;
	background:url(../images/pc/arrow_l-7f70898891.png);
	-ms-background-size:100% 100%;
	background-size:100% 100%;
	content:'';
	transition:all .25s
}
.news .top-header h2 a:hover:after {
	left:0
}
.news .top-header h5 {
	float:right;
	padding-top:50px;
	color:#b1cbd5;
	line-height:67px;
	font-size:20px
}
.news .top-header h5 a {
	color:#b1cbd5
}
.news .top-header h5 a:hover {
	color:#49ded7
}
.news .main {
	width:1200px;
	margin:0 auto;
	-moz-user-select:text;
	-webkit-user-select:text;
	-ms-user-select:text;
	-khtml-user-select:text;
	-webkit-touch-callout:text;
	user-select:text
}
.news .main .title {
	width:100%;
	padding:70px 0 40px;
	text-align:center
}
.news .main .title h2 {
	color:#49ded7;
	font-size:36px
}
.news .main .title p {
	color:#49ded7;
	font-size:26px
}
.news .main .content {
	width:100%;
	min-height:500px;
	padding-bottom:50px
}
.news .main .content li,.news .main .content p,.news .main .content span,.news .main .content strong,.news .main .content ul {
	background:0 0!important;
	color:#b1cbd5!important;
	line-height:40px!important;
	font-size:20px!important;
	font-family:"Source Han Sans CN"!important
}
.news .main .content li img,.news .main .content p img,.news .main .content span img,.news .main .content strong img,.news .main .content ul img {
	width:40%!important;
	margin:10px auto
}
.news .main .content video {
	width:60%!important;
	margin:10px auto
}
.news .main .content section,.news .main .content span {
	background:0 0!important;
	line-height:40px!important;
	font-size:20px!important;
	color:#b1cbd5!important;
	font-family:"Source Han Sans CN"!important
}
.news .main .content section img,.news .main .content span img {
	width:40%!important;
	margin:10px auto
}
.news .main .page-down {
	width:100%;
	padding-bottom:80px
}
.news .main .page-down .next-page,.news .main .page-down .prev-page {
	display:block;
	line-height:40px;
	font-size:20px
}
.news .main .page-down .next-page a,.news .main .page-down .prev-page a {
	transition:all .25s;
	color:#b1cbd5
}
.news .main .page-down .next-page a:hover,.news .main .page-down .prev-page a:hover {
	color:#49ded7;
	margin-left:3px
}
.news .main .all-list {
	width:90%;
	padding:50px 0 0;
	margin:0 auto
}
.news .main .all-list ul {
	width:100%;
	display:flex;
	align-items:center;
	justify-content:center
}
.news .main .all-list li {
	padding:0 50px;
	text-align:center
}
.news .main .all-list li a {
	color:#b1cbd5;
	font-size:34px
}
.news .main .all-list .introduction-ul {
	display:block;
	width:92%;
	margin:0 auto
}
.news .main .all-list .introduction-ul li {
	float:left;
	width:3rem;
	text-align:justify
}
.news .main .all-list .introduction-ul li a {
	display:block;
	width:100%;
	height:1.5rem;
	font-size:.7rem;
	text-align:center
}
.news .main .all-list .on a {
	font-size:36px;
	color:#2de8e5
}
.news .main .list-wrap {
	width:90%;
	min-height:880px;
	margin:0 auto
}
.news .main .list-wrap ul {
	min-height:880px
}
.news .main .list-wrap li {
	position:relative;
	display:block;
	width:100%;
	padding-top:20px;
	height:60px;
	line-height:60px;
	border-bottom:1px dashed #4c555f;
	transition:all .25s
}
.news .main .list-wrap li a {
	display:block;
	width:100%;
	height:60px;
	margin:0 auto
}
.news .main .list-wrap li h2 {
	float:left;
	width:75%;
	color:#b1cbd5;
	font-size:24px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis
}
.news .main .list-wrap li span {
	float:right;
	width:25%;
	color:#b1cbd5;
	font-size:24px;
	text-align:right
}
.news .main .list-wrap li:hover {
	transform:translateX(8px)
}
.news .main .list-wrap li:hover h2 {
	color:#52dcd7
}
.news .main .list-wrap .more-btn {
	width:60%;
	margin:20px auto 0;
	padding-bottom:60px
}
.news .main .list-wrap .more-btn a {
	display:block;
	padding:20px 0;
	color:#b1cbd5;
	font-weight:700;
	font-size:26px;
	text-align:center
}
.news .main-list {
	width:1400px
}
.index-show {
	opacity:1;
	transition:all .5s
}
.popup_wrap {
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(../images/pc/mengban-291323a55e.png);
	-ms-background-size:100% 100%;
	background-size:100% 100%;
	z-index:9999
}
.popup_wrap .popup_box {
	position:relative;
	top:110px;
	transform:scale(0)
}
.popup_wrap .popup_content {
	display:block;
	width:100%
}
.popup_wrap .ani {
	-webkit-animation:ani3 .2s ease-in-out;
	animation:ani3 .2s ease-in-out;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-ms-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards
}
.popup_wrap .ani-ie {
	transform:scale(1)
}
.popup_wrap .close-bg {
	position:absolute;
	top:50%;
	left:50%;
	width:1920px;
	height:1080px;
	margin:-540px 0 0 -960px
}
.video-wrap .video-box {
	position:absolute;
	top:50%;
	left:50%;
	width:1073px;
	height:603px;
	margin:-301px 0 0 -536px;
	z-index:2
}
.video-wrap .video-box .popup_content {
	position:relative;
	display:block;
	width:100%;
	height:100%;
	background:#1f2126
}
.video-wrap .video-box .popup_content div {
	overflow:hidden
}
.video-wrap .video-box .popup_content div,.video-wrap .video-box .popup_content video {
	display:block;
	width:100%;
	height:100%;
	margin:0 auto
}
.video-wrap .video-box .close-btn {
	position:absolute;
	top:-20px;
	left:auto;
	right:-90px;
	display:block;
	width:70px;
	height:70px;
	margin:0
}
.video-wrap .video-box .close-btn a {
	display:block;
	width:100%;
	height:100%;
	background:url(../images/pc/close_btn-a1f1392f57.png) no-repeat;
	-ms-background-size:100% 100%;
	background-size:100% 100%
}
.introduce-wrap .introduce-box {
	position:relative;
	top:50%;
	left:0;
	z-index:2
}
.introduce-wrap .introduce-box .popup_content {
	position:absolute;
	display:block
}
.introduce-wrap .introduce-box .popup_content-1 {
	top:50%;
	left:50%;
	width:516px;
	height:455px;
	margin:-227px 0 0 -258px;
	background:url(../images/pc/introduce_01.png) no-repeat
}
.introduce-wrap .introduce-box .popup_content-2 {
	top:50%;
	left:50%;
	width:576px;
	height:532px;
	margin:-266px 0 0 -288px;
	background:url(../images/pc/introduce_02.png) no-repeat
}
.introduce-wrap .introduce-box .popup_content-3 {
	top:50%;
	left:50%;
	width:523px;
	height:455px;
	margin:-227px 0 0 -261px;
	background:url(../images/pc/introduce_03.png) no-repeat
}
.introduce-wrap .introduce-box .popup_content-4 {
	top:50%;
	left:50%;
	width:523px;
	height:495px;
	margin:-247px 0 0 -261px;
	background:url(../images/pc/introduce_04.png) no-repeat
}
.introduce-wrap .introduce-box .popup_content-5 {
	top:50%;
	left:50%;
	width:576px;
	height:532px;
	margin:-266px 0 0 -288px;
	background:url(../images/pc/introduce_05.png) no-repeat
}
.success-cat-wrap {
	display:block
}
.success-cat-wrap .success-box {
	position:absolute;
	top:50%;
	left:50%;
	width:361px;
	height:396px;
	margin:-198px 0 0 -180px;
	z-index:2;
	transform:scale(1)
}
.success-cat-wrap .success-box .popup_content {
	position:relative;
	display:block;
	width:361px;
	height:396px;
	background:url(../images/pc/success_wrap_02.png) no-repeat;
	z-index:2
}
.success-cat-wrap .success-box .popup_content i {
	display:none
}
.success-cat-wrap .success-box .popup_content a {
	display:none
}
.success-cat-wrap .success-box .cartoon {
	position:absolute;
	z-index:1;
	display:none
}
.preloading {
	overflow-y:hidden;
	position:fixed;
	top:0;
	width:100%;
	height:1080px;
	background:url(../images/pc/content_bg_01-4152784850.jpg) top no-repeat;
	z-index:9999
}
.preloading .clouds {
	position:absolute;
	top:0;
	left:0;
	width:1920px;
	height:1080px;
	z-index:9
}
.preloading .clouds .l-clouds {
	position:absolute;
	top:0;
	left:0;
	width:1920px;
	height:1080px;
	background:url(../images/pc/clouds_l.png) no-repeat;
	-ms-background-size:100% 100%;
	background-size:100% 100%
}
.preloading .clouds .r-clouds {
	position:absolute;
	top:0;
	left:0;
	width:1920px;
	height:1080px;
	background:url(../images/pc/clouds_r.png) no-repeat;
	-ms-background-size:100% 100%;
	background-size:100% 100%
}
.preloading .loding_time {
	position:absolute;
	top:50%;
	left:50%;
	width:959px;
	height:65px;
	margin:-160px 0 0 -479.5px;
	background:url(../images/pc/m_jdt-9b7ce326bb.png) no-repeat;
	-ms-background-size:100% 100%;
	background-size:100% 100%
}
.preloading .loding_time .progress {
	position:absolute;
	bottom:23px;
	left:73px;
	width:815px;
	height:20px
}
.preloading .loding_time .progress span {
	position:absolute;
	position:relative;
	display:block;
	width:5%;
	height:20px;
	background:url(../images/pc/m_dt_sz-0adcd1c653.png);
	-ms-background-size:auto 100%;
	background-size:auto 100%;
	transition:all .25s
}
.preloading .loding_time .progress span:before {
	position:absolute;
	top:-155px;
	right:-6%;
	display:block;
	width:113px;
	height:132px;
	background:url(../images/pc/preloading_role-4f0e90ce20.png) no-repeat;
	content:'';
	-webkit-animation:roleAni 1s steps(10) infinite;
	animation:roleAni 1s steps(10) infinite
}
.preloading .loding_time .progress .hidden:before {
	opacity:0;
	transition:all .5s
}
.preloading .loding_time .progress b {
	position:absolute;
	bottom:-90px;
	left:0;
	width:100%;
	color:#fff8d7;
	text-shadow:2px 2px 3px #692c2e,-2px -2px 3px #692c2e,2px -2px 2px #692c2e,-2px 2px 2px #692c2e;
	font-size:36px;
	font-weight:400;
	text-align:center
}
.preloading .loding_time .start {
	display:none;
	position:absolute;
	bottom:-180px;
	left:50%;
	width:289px;
	height:76px;
	margin-left:-144px;
	transform:translateY(-20px)
}
.preloading .loding_time .start a {
	display:block;
	width:100%;
	height:100%;
	background:url(../images/pc/start_btn.png) no-repeat;
	-ms-background-size:100% 100%;
	background-size:100% 100%;
	transition:all .5s
}
.preloading .loding_time .start-Ani {
	transform:translateY(0);
	transition:all .5s;
	opacity:1
}
.preloading .loding_time:after,.preloading .loding_time:before {
	position:absolute;
	top:0;
	width:91px;
	height:65px;
	content:'';
	z-index:2
}
.preloading .loding_time:after {
	left:0;
	background:url(../images/pc/m_jdt_01-ac612e83c9.png) no-repeat;
	-ms-background-size:100% 100%;
	background-size:100% 100%
}
.preloading .loding_time:before {
	right:0;
	background:url(../images/pc/m_jdt_02-1f8555b6c3.png) no-repeat;
	-ms-background-size:100% 100%;
	background-size:100% 100%
}
.preloading .bg {
	width:100%;
	height:100%;
	background:url(../images/pc/mengban-291323a55e.png)
}
.preloading-ani {
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	-webkit-animation:preloadingAni .8s;
	animation:preloadingAni .8s
}
.friendship {
	width:100%;
	min-width:1000px;
	height:auto;
	margin:0 auto;
	background:#061019
}
.friendship .f-header {
	position:relative;
	width:100%;
	height:296px;
	background:url(../images/pc/f_header_bg-1be8ae4957.jpg) center no-repeat
}
.friendship .f-header .logo {
	position:absolute;
	top:21px;
	left:60px;
	width:321px;
	height:74px
}
.friendship .f-header .logo img {
	display:block;
	width:100%;
	height:100%
}
.friendship .f-header .other {
	position:absolute;
	top:21px;
	right:48px;
	width:auto;
	height:31px
}
.friendship .f-header .other a {
	position:relative;
	float:right;
	padding-bottom:7px;
	color:#fff;
	font-weight:700;
	font-size:18px
}
.friendship .f-header .other a:after {
	position:absolute;
	bottom:0;
	left:50%;
	width:17px;
	height:3px;
	margin-left:-8.5px;
	background:#961e23;
	content:"";
	transition:all .5s
}
.friendship .f-header .other a:hover {
	opacity:.8
}
.friendship .f-header .other a:hover:after {
	left:0;
	width:100%;
	margin-left:0;
	transition:all .5s
}
.friendship .f-main {
	width:100%;
	height:auto
}
.friendship .f-main .main-box {
	width:1000px;
	min-height:800px;
	margin:0 auto
}
.friendship .f-main .main-box ul {
	display:block;
	padding-top:100px
}
.friendship .f-main .main-box ul li {
	float:left;
	width:136px;
	margin:0 15px 15px
}
.friendship .f-main .main-box ul li a {
	border:1px solid #ccc;
	transition:all .5s
}
.friendship .f-main .main-box ul li a {
	display:block;
	width:100%;
	height:100%
}
.friendship .f-main .main-box ul li a:hover {
	transform:scale(1.05);
	transition:all .25s
}
.slide-footer {
	display:none
}
/*@media screen and (max-width:1460px) {
	.float-nav {
	left:-150px
}*/
.rotate-label-box .char-swiper {
	transform:scale(.8)
}
}@media screen and (max-width:1650px) {
	.index .content-05 .code-main {
	width:1300px
}
.index .content-05 .code-main ul {
	width:1380px
}
.index .content-05 .code-main ul li {
	margin-right:80px
}
.rotate-label-box .char-swiper {
	transform:scale(.9)
}
.index .content-03 .rotate-label-box .disk .char-pagi-container {
	right:280px
}
.index .content-03 .rotate-label-box .disk:after {
	left:135px
}
.index .content-03 .rotate-label-box .disk .link-wiki {
	left:236px
}
}@-webkit-keyframes Beat {
	0{transform:translateY(0)
}
50% {
	transform:translateY(10px)
}
}@keyframes Beat {
	0{transform:translateY(0)
}
50% {
	transform:translateY(10px)
}
}@-webkit-keyframes Beat2 {
	0{transform:translateY(0)
}
70% {
	transform:translateY(15px);
	opacity:.5
}
}@keyframes Beat2 {
	0{transform:translateY(0)
}
70% {
	transform:translateY(15px);
	opacity:.5
}
}@-webkit-keyframes Beat3 {
	0{transform:translateY(0)
}
60% {
	transform:translateY(10px);
	opacity:.5
}
}@keyframes Beat3 {
	0{transform:translateY(0)
}
60% {
	transform:translateY(10px);
	opacity:.5
}
}@-webkit-keyframes preloadingAni {
	0{transform:scale(1);
	opacity:1
}
100% {
	opacity:0;
	transform:scale(2)
}
}@keyframes preloadingAni {
	0{transform:scale(1);
	opacity:1
}
100% {
	opacity:0;
	transform:scale(2)
}
}@-webkit-keyframes scaleAni {
	0{transform:scale(1)
}
50% {
	transform:scale(1.02)
}
}@keyframes scaleAni {
	0{transform:scale(1)
}
50% {
	transform:scale(1.02)
}
}@keyframes lightRotate {
	0{transform:rotate(0)
}
100% {
	transform:rotate(360deg)
}
}@-webkit-keyframes lightRotate {
	0{transform:rotate(0)
}
100% {
	transform:rotate(360deg)
}
}@-webkit-keyframes changeBig {
	0{transform:scale(0) rotate(0)
}
100% {
	transform:scale(2) rotate(0);
	opacity:0
}
}@keyframes changeBig {
	0{transform:scale(0) rotate(0)
}
100% {
	transform:scale(2) rotate(0);
	opacity:0
}
}@-webkit-keyframes sloganAni {
	0{transform:rotate(0)
}
45% {
	transform:rotate(5deg)
}
}@keyframes sloganAni {
	0{transform:rotate(0)
}
45% {
	transform:rotate(5deg)
}
}@-webkit-keyframes changeBig2 {
	0{transform:scale(1) rotate(0)
}
50% {
	transform:scale(1.1) rotate(0);
	opacity:.6
}
}@keyframes changeBig2 {
	0{transform:scale(1) rotate(0)
}
50% {
	transform:scale(1.1) rotate(0);
	opacity:.6
}
}@-webkit-keyframes changeBig3 {
	0{transform:scale(1.3) rotate(0)
}
50% {
	transform:scale(1.4) rotate(0);
	opacity:.6
}
}@keyframes changeBig3 {
	0{transform:scale(1.3) rotate(0)
}
50% {
	transform:scale(1.4) rotate(0);
	opacity:.6
}
}@-webkit-keyframes changeBig4 {
	0{opacity:1
}
50% {
	opacity:.8
}
}@keyframes changeBig4 {
	0{opacity:1
}
50% {
	opacity:.8
}
}@-webkit-keyframes light {
	0{transform:scale(1)
}
50% {
	transform:scale(2);
	opacity:.8
}
}@keyframes light {
	0{transform:scale(1)
}
50% {
	transform:scale(2);
	opacity:.8
}
}@-webkit-keyframes ani4 {
	0{transform:scale(1)
}
80% {
	transform:scale(1.1)
}
100% {
	transform:scale(1.05)
}
}@-webkit-keyframes ani5 {
	50% {
	top:0
}
100% {
	top:-10px;
	-webkit-filter:brightness(1.2)
}
}@-webkit-keyframes rotate2 {
	0{-webkit-transform:rotate(0)
}
10% {
	-webkit-transform:rotate(10deg)
}
20% {
	-webkit-transform:rotate(-10deg)
}
30% {
	-webkit-transform:rotate(10deg)
}
40% {
	-webkit-transform:rotate(-10deg)
}
50% {
	-webkit-transform:rotate(0)
}
100% {
	-webkit-transform:rotate(0)
}
}@-webkit-keyframes lampAni {
	0{opacity:1
}
20% {
	opacity:.8
}
}@keyframes lampAni {
	0{opacity:1
}
20% {
	opacity:.8
}
}@-webkit-keyframes ani3 {
	0{transform:scale(0)
}
80% {
	transform:scale(.95)
}
100% {
	transform:scale(.9)
}
}@keyframes ani3 {
	0{transform:scale(0)
}
80% {
	transform:scale(.95)
}
100% {
	transform:scale(.9)
}
}@-webkit-keyframes roleAni {
	from {
	background-position:0 0
}
to {
	background-position:-1124px 0
}
}@keyframes roleAni {
	from {
	background-position:0 0
}
to {
	background-position:-1124px 0
}
}@-webkit-keyframes videoAni {
	from {
	background-position:0 0
}
to {
	background-position:-1169px 0
}
}@keyframes videoAni {
	from {
	background-position:0 0
}
to {
	background-position:-1169px 0
}
}@-webkit-keyframes codeSaomiao {
	0%,100% {
	transform:translateY(0)
}
50% {
	-webkit-transform:translateY(93px)
}
}@keyframes codeSaomiao {
	0%,100% {
	transform:translateY(0)
}
50% {
	-webkit-transform:translateY(93px)
}
}@-webkit-keyframes codeSaomiao2 {
	0%,100% {
	transform:translateY(0)
}
50% {
	-webkit-transform:translateY(160px)
}
}@keyframes codeSaomiao2 {
	0%,100% {
	transform:translateY(0)
}
50% {
	-webkit-transform:translateY(160px)
}
}::-webkit-scrollbar {
	width:10px
}
::-webkit-scrollbar-track {
	height:10px;
	background-color:#fff
}
::-webkit-scrollbar-thumb {
	width:10px;
	background-color:#050d18
}
/*# sourceMappingURL=style-9230eea953.css.map */



/**********************************************************************************************************************************************/

.index .content-022 {
	position:relative;
	width:100%;
	height:100%;
	background:url(../images/news_bg.jpg) center center/cover no-repeat
}
.index .content-022 .title {
	position:absolute;
	top:105px;
	left:50%;
	width:261px;
	height:108px;
	margin-left:-189px;
	background:url(../images/title_news.png) 0 0 no-repeat
}

.index .content-022 .news-module {
	overflow:hidden;
	position:absolute;
	top:292px;
	left:50%;
	width:1330px;
	height:530px;
	margin-left:-665px;
	transition:all .5s
}
.index .content-022 .news-module .swiper-l {
	overflow:hidden;
	float:left;
	width:615px;
	height:485px
}
.index .content-022 .news-module .swiper-l a {
	display:block;
	position:relative
}
.index .content-022 .news-module .swiper-l .b-info h1 {
	overflow:hidden;
	height:32px;
	color:#fff;
	line-height:26px;
	font-size:20px;
}
.index .content-022 .news-module .swiper-l .b-info h1 span.hotspan{ width:31px; height:16px; overflow:hidden; display:inline-block; background:url(../images/hot_ico.png) no-repeat;margin: 0;}
.index .content-022 .news-module .swiper-l .b-info p {
	overflow:hidden;
	height:68px;
	padding:0 0 10px;
	color:#816B6F;
	line-height:28px;
	font-size:14px
}
.index .content-022 .news-module .swiper-l .b-info span {
	display:block;
	width:100%;
	margin:30px 0 10px;
	color:#b1cbd5;
	font-size:12px;
	text-align:left
}
.index .content-022 .news-module .swiper-l .swiper-pagination-bullet {
	width:16px;
	height:16px;
	background:#b1cbd5;
	opacity:1
}
.index .content-022 .news-module .swiper-l .swiper-pagination-bullet-active {
	width:52px;
	height:16px;
	border-radius:10px;
	background:#5aaaae
}
.index .content-022 .news-module .swiper-l .swiper-pagination {
	top:285px;
	left:20px;
	text-align:left
}
.index .content-022 .news-module .swiper-l .t-img {
	overflow:hidden;
	width:554px;
	height:287px;
	background:url(../images/news_l_bg.jpg) no-repeat;
	transition:all .25s;
	overflow:hidden;
}
.index .content-022 .news-module .swiper-l .t-img img {
	width:541px;
	height:264px;
	transition:all .25s;
	margin:8px 0 0 8px;
}
.index .content-022 .news-module .swiper-l .b-info {
	position:absolute;
	top:300px
}
/*.index .content-022 .news-module .swiper-l:hover .t-img {
	border:1px solid #52dcd7;
	box-shadow:1px 1px 2px #52dcd7;
}*/
.index .content-022 .news-module .swiper-l:hover .t-img img {
	transform:scale(1.05)
}
.index .content-022 .news-module .swiper-l:hover .b-info h1 {
	color:#EAC375;
}
.index .content-022 .news-module .swiper-r {
	overflow:hidden;
	position:relative;
	float:right;
	width:672px;
	height:510px
}
.index .content-022 .news-module .swiper-r .label-box {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:70px;
	border-bottom:1px solid #4D2E38;
	line-height:70px;
	z-index:2
}
.index .content-022 .news-module .swiper-r .label-box a {
	float:left;
	margin-right:58px;
	color:#999897;
	font-size:34px
}
.index .content-022 .news-module .swiper-r .label-box .select {
	color:#FFEFC8
}
.index .content-022 .news-module .swiper-r .label-box .more-btn {
	position:absolute;
	top:25px;
	right:5px;
	display:block;
	width:66px;
	height:21px;
	margin-right:0;
	font-size:14px;
	line-height:40px;
}

.index .content-022 .news-module .swiper-r .swiper-wrapper {
	width:755px;
	padding-top:70px
}
.index .content-022 .news-module .swiper-r .swiper-wrapper ul {
	overflow:auto;
	width:660px;
	height:395px;
	padding-top:20px;
	padding-right:10px
}
.index .content-022 .news-module .swiper-r .swiper-wrapper ul::-webkit-scrollbar {
	width:10px
}
.index .content-022 .news-module .swiper-r .swiper-wrapper ul::-webkit-scrollbar-track {
	height:10px;
	background-color:#182127
}
.index .content-022 .news-module .swiper-r .swiper-wrapper ul::-webkit-scrollbar-thumb {
	width:10px;
	border-radius:10px;
	background-color:#EA797B
}
.index .content-022 .news-module .swiper-r .swiper-wrapper li {
	float:left;
	width:100%;
	transition:all .25s;
	margin:20px auto 0;
	overflow:hidden;
}
.index .content-022 .news-module .swiper-r .swiper-wrapper li a {
	display:inline-block;
	color:#877174;
	width:80%; float:left;
	font-size:14px;
	line-height:30px;
}
.index .content-022 .news-module .swiper-r .swiper-wrapper li a:hover {
	color:#CD6B6E;
}
.index .content-022 .news-module .swiper-r .swiper-wrapper li a:after {
	content:"\200B";
	display:block;
	height:0;
	clear:both
}

.index .content-022 .news-module .swiper-r .swiper-wrapper li span {
	color:#877174;
	font-size:12px;
	text-align:right;
	font-size:14px;
	display:inline-block;
	float:right;
	line-height:30px;
}

.index .content-022 .news-module .swiper-r .swiper-wrapper li:hover {
	transform:translateX(5px)
}

/**********************************************************************************************************************************************/
.header {
	position:fixed;
	top:0;
	left:0;
	height:auto;
	z-index:100;
	min-width:1200px;
	width:100%;
	z-index:9999;
}
.header-content {
	margin:0 auto;
	max-width:1300px;
}
.header-logo {
	float:left;
	width:259px;
	height:106px;
	margin-top:20px;
	background:url(../images/autoheroes_logo.png) no-repeat;
}
.header-logo-link {
	display:inline-block;
	height:100%;
	width:100%;
	text-indent:-9999px
}

@media screen and (max-width:1460px) {
	.index .content-022 .title {
		top:50px;
	}
	
	.index .content-022 .news-module {
		top:192px;
	}
	
	.index .content-03 .title {
		top:50px;
	}
	
	.index .content-04 .title {
		top:50px;
	}
	
	.index .content-04 .recommend-wrap {
		top:30%;
	}
	
}